<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h2>Team Name: <%=params[:name]%></h2>
 <h4>Coach: <%=params[:coach]%></h4>
 <h6>Point Guard: <%=params[:pg]%></h6>
 <h8>Shooting Guard: <%=params[:sg]%></h8>
 <h10>Small Forward: <%=params[:sf]%></h10>
 <h12>Power Forward: <%=params[:pf]%></h12>
 <h14>Center: <%=params[:c]%></h14>

 </body>
</html>


