<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h2>Team Name: <%=@team.name%></h2>
 <h4>Coach: <%=@team.coach%></h4>
 <h6>Point Guard: <%=@team.pg%></h6>
 <h8>Shooting Guard: <%=@team.sg%></h8>
 <h10>Small Forward: <%=@team.sf%></h10>
 <h12>Power Forward: <%=@team.pf%></h12>
 <h14>Center: <%=@team.c%></h14>

 </body>
</html>


