<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h2>Team Name: <%=@team.name%></h2>
 <h4>Coach: <%=@team.coach%></h4>
 <h6>Point Guard: <%=@team.sg%></h6>
 <h8>Small Forward: <%=@team.sf%></h8>
 <h10>Power Forward: <%=@team.pf%></h10>
 <h12>Center: <%=@team.c%></h12>

 </body>
</html>


